.grid {
  border: solid 30px darkgray;
}

.gridRow {
  display: flex;
}

.gridCell {
  width: 30px;
  height: 30px;
  background-color: azure;
  border: 1px solid rgb(209, 223, 223);
}
.snakeCell {
  width: 30px;
  height: 30px;
  background-color: rgb(78, 78, 78);
}
.snakeHeadCell {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: black;
}

.fruitCell {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: green;
}

